.home {
	max-width: 1300px;
	margin-top: 1rem auto;
}

.home_screen_title {
	font-size: 1.5rem;
	color: #171717;
	margin-bottom: 1rem;
	margin-left: 8px;
}

.home_screen_products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
	.home_screen_products {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 950px) {
	.home_screen_products {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 630px) {
	.home_screen_products {
		grid-template-columns: 1fr;
	}
}
